<% if (settings?.content?.links) { %>
<ul class="links">
<% settings.content.links.forEach((link) => { %>
  <li class="link">
    <a href="<%= link.url %>">
      <%= link.text %>
    </a>
  </li>
<% }) %>
</ul>
<% } %>