<% if (settings?.content?.socials) { %>
  <div class="socials">
  <% Object.keys(settings.content.socials).forEach((key) => { %>
    <a title="<%= key %>" class="social-link" href="<%= settings.content.socials[key] %>" rel="noreferrer" target="_blank">
      <%- include(`../icons/${key}.ejs`); %>
    </a>
  <% }) %>
  </div>
<% } %>