<div class="socials">
<% Object.keys(content.socials).forEach((key) => { %>
    <a class="social-link" href="<%= content.socials[key] %>">
    <%- include(`../icons/${key}.ejs`); %>
    </a>
<% }) %>
</div>