:root {
  --color-primary: #7c3aed;
  --color-gradient-from: #fbcfe8;
  --color-gradient-to: #ddd6fe;
  --color-bg: #f3f4f6;
  --color-text: #000000;
  --color-icons: #9ca3af;
  --color-links: #ffffff;
  --font: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font);
}

main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.socials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.avatar {
  background-color: white;
  object-fit: cover;
  border-radius: 50%;
  border: 8px solid var(--color-primary);
}

.name {
  text-align: center;
  line-height: 1em;
}

.bio {
  font-size: 1.5rem;
  text-align: center;
  line-height: 1em;
}

.social-link {
  color: var(--color-icons);
  transition-duration: 150ms;
}

.social-link:hover {
  color: var(--color-primary);
}

.links {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  gap: 1rem;
  padding: 0;
  margin-top: 1.25rem;
}

.link {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  font-size: 1.25rem;
  border-radius: 1.8rem;
  overflow: hidden;
  transition-duration: 200ms;
  background-color: var(--color-links);
  
}

.link:hover {
  transform: scale(1.04);
  transition-duration: 150ms;
  background-image: linear-gradient(to right, var(--color-gradient-from), var(--color-gradient-to));
}

.link > a {
  color: inherit;
  text-decoration: inherit;
  min-height: 3.6rem;
  width: 100%;
  padding: 0.4rem 1rem;
  
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
