h1 {
    color: red;
}

main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 44rem;
  margin-left: auto;
  margin-right: auto;
}

.socials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.avatar {
  object-fit: cover;
}